In [1]:
import pandas as pd

In [2]:
import pandas as pd
import numpy as np

In [3]:
import pandas as pd
print( pd.__version__)

1.4.2

In [4]:
import numpy as np
print( np.__version__)

1.21.5

In [5]:
df = pd.read_csv('iris.csv')

df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df = pd.read_csv("iris.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
to_drop = ['species']

In [9]:
df = pd.read_csv("iris.csv")
df.head()
to_drop = ['species']

In [10]:
df.drop(to_drop, inplace=True, axis=1)

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [12]:
df = pd.read_csv("iris.csv")
df.head()
to_drop = ['species']
df.drop(to_drop, inplace=True, axis=1)
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
df = pd.read_csv("iris.csv")
df.head()
to_drop = ['species']
df.drop(to_drop, inplace=True, axis=1)
df.head()
df.loc[50]

sepal_length    7.0
sepal_width     3.2
petal_length    4.7
petal_width     1.4
Name: 50, dtype: float64

In [14]:
df = pd.read_csv("iris.csv")
df.head()
to_drop = ['species']
df.drop(to_drop, inplace=True, axis=1)
df.head()
df.loc[50]
df.dtypes.value_counts()

float64    4
dtype: int64

In [15]:
df = pd.read_csv("iris.csv")
df.head()
to_drop = ['species']
df.drop(to_drop, inplace=True, axis=1)
df.head()
df.loc[5:, 'sepal_length'].head(10)
df.dtypes.value_counts()

float64    4
dtype: int64

In [16]:
df = pd.read_csv("iris.csv")
df.head()
to_drop = ['species']
df.drop(to_drop, inplace=True, axis=1)
df.head()
df.loc[5:, 'sepal_length'].head(10)
df.dtypes.value_counts()

float64    4
dtype: int64

In [17]:
df.loc[5:, 'sepal_length'].head(10)

5     5.4
6     4.6
7     5.0
8     4.4
9     4.9
10    5.4
11    4.8
12    4.8
13    4.3
14    5.8
Name: sepal_length, dtype: float64

In [18]:
df.loc[22]

sepal_length    4.6
sepal_width     3.6
petal_length    1.0
petal_width     0.2
Name: 22, dtype: float64

In [19]:
df.loc[30]

sepal_length    4.8
sepal_width     3.1
petal_length    1.6
petal_width     0.2
Name: 30, dtype: float64

In [20]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [21]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()
olympics_df.size

750

In [22]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()
olympics_df.size
lympics_df.rename(columns=new_names, inplace=True)

NameError: name 'lympics_df' is not defined

In [23]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()
olympics_df.size
new_names =  {'sepal_length': 'Length',
               'sepal_width': 'Width',
               'petal_length' : 'pLength',
               'petal_width' : 'pWidth'} 
lympics_df.rename(columns=new_names, inplace=True)

NameError: name 'lympics_df' is not defined

In [24]:
olympics_df = pd.read_csv("iris.csv")
olympics_df.head()
olympics_df.size
new_names =  {'sepal_length': 'Length',
               'sepal_width': 'Width',
               'petal_length' : 'pLength',
               'petal_width' : 'pWidth'} 
olympics_df.rename(columns=new_names, inplace=True)

In [25]:
olympics_df.head()

   Length  Width  pLength  pWidth species
0     5.1    3.5      1.4     0.2  setosa
1     4.9    3.0      1.4     0.2  setosa
2     4.7    3.2      1.3     0.2  setosa
3     4.6    3.1      1.5     0.2  setosa
4     5.0    3.6      1.4     0.2  setosa

In [26]:
olympics_df.size

750